:root {
  --main-color: #f88f8f;
  --complementary-color: #fff7f7;
  --light-color: bisque;
  --box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

h1 {
  font-size: 70px;
  font-family: "Dosis", sans-serif;
  margin-bottom: 50px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

h3 {
  font-size: 40px;
  display: block;
}
.content-wrapper {
  padding: 50px;
}
.content-wrapper,
img {
  display: block;
  margin: auto;
}

p {
  line-height: 2;
}

.project-link {
  border-radius: 8px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin-left: 30px;
}

.screenshots {
  max-width: 100%;
  margin-bottom: 30px;
}

h4 {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--complementary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--main-color);
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--main-color);
  background: var(--complementary-color);
}

#last-botton {
  border-radius: 8px;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

#last-botton:hover {
  color: white;
  border-color: white;
}
