:root {
  --main-color: #f88f8f;
  --complementary-color: #f7f3ff;
  --light-color: bisque;
  --box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

h1 {
  font-size: 70px;
  font-family: "Dosis", sans-serif;
  margin-bottom: 50px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

h3 {
  font-size: 40px;
  display: block;
}
.content-wrapper {
  padding: 50px;
}
.content-wrapper,
img {
  display: block;
  margin: auto;
}

p {
  line-height: 2;
}

.project-link {
  border-radius: 8px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin-left: 30px;
}

.screenshots {
  max-width: 100%;
  margin-bottom: 30px;
}

h4 {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
}
